meta(charset='UTF-8')
title Pug Blank
meta(name='viewport' content='width=device-width, initial-scale=1')
// SEO
meta(name='description' content='A blank site template using Node, Express and Pug')
meta(name='author' content='Charles Robertson')

